body {
    font-family: Roboto, sans-serif;
}

.wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-image: url("/img/mterwill-rectangle.jpg");
    background-position: center; 
    color: white;
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 164px;
}

.header h1 {
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;
    font-family: 'Roboto Mono', monospace;
    text-transform: lowercase;
    width: 75%;
}
