{{ define "main" }}
<div class="content">
    {{ .Content }}
</div>
{{ if .Data.Pages }}
<hr>
<h2>Writing</h2>
<ul class="recent-posts">
    {{ range .Data.Pages }}
    <li>
        <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
</ul>
{{ end }}
{{ if $.Site.Data.talks }}
<hr>
<h2>Talks</h2>
<ul class="recent-posts">
    {{ range $.Site.Data.talks.talks }}
    <li>
        <span class="date">{{ dateFormat "Jan 2, 2006" .date }}</span>
        <a target="_blank" rel="noopener" href="{{ .url }}">{{ .name }}</a>
    </li>
    {{ end }}
</ul>
{{ end }}
{{ end }}
